.card{
    border-radius:8px;
    overflow:hidden;
    padding-bottom:20px;
    background: rgb(28,230,228);
    background: linear-gradient(309deg, rgba(28,230,228,1) 0%, rgba(255,255,255,1) 21%); 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all .5s;
}
.card:hover{

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    scale:1.03;
    cursor: pointer;
}
.tour-img{
    object-fit: cover;
}
.tour-content{
    margin-top:10px;
    padding-inline:20px;
}
.name-container{
    border-bottom:1px solid var(--textGrey);
}
.cityName{
    padding-bottom: 10px;
    color:var(--textGrey);
}
.tour-price{
    margin-top:10px;
    font-weight:700;
    font-size: 2rem;
    color:var(--priceColor)
}
.tour-desc{
    font-size:1.3rem;
   color:var(--textGrey);
   margin-bottom:20px;
}
.detail-btn{
    border:none;
    display:flex;
    align-items: center;
    gap:1rem;

}
.detail-icon{
    margin-top:3px;
}


