.footer-container {
    margin-top: 50px;
    position: relative;
    background-color: var(--textBlue);
}

.footer-video2 {
    display: none;
}
.footer-video3{
    display:none;
}
.footer-video4{
    display:none;
}

.footer-video-container {

    width: 100vw;
    height: 100%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background: linear-gradient(7deg, rgba(255, 255, 255, 1) 36%, rgba(28, 230, 228, 1) 53%);
}


.footer-video {
    object-fit: cover;

}

.top-part {

    position: absolute;
    top: 10%;
    left: 30%;
    color: var(--white);
    display: flex;
    gap: 30px;
    padding-inline: 30px;

}

.content1-para {
    font-weight: 500;
    font-size: 1.5rem;
}

.content1-head {
    font-size: 2.5rem;
}

.top-new {
    display: none;
}

.top-content2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.foot-email {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
}

.email-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.4rem;
    border: none;
    padding-block: 8px;
    padding-inline: 15px;

}

.bottom-part {
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    width: 80%;
    top: 27%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

.bottom-upper {
    padding-inline: 20px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 4rem;
}

.bottom-lower {
    background-color: aqua;
}

.footer-icon-group {
    display: flex;
    gap: 2rem;
    color: var(--black);
}

.footerIcon {
    font-size: 2.2rem;
    color: var(--black);
    transition: color .2s;

}

.facebook:hover {
    color: var(--facebook);
}

.instagram:hover {
    color: var(--instagram);
}

.twitter:hover {
    color: var(--twitter);
}

.upper1 {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

.upper2 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.upper3 {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.upper4 {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.upper-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.upper-content p {
    font-weight: 500;
    transition: color .2;
}

.upper-content p:hover {
    color: var(--textBlue);
    cursor: pointer;
}

.bottom-lower {
    background-color: var(--textDarkBlue);
    margin-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-inline: 30px;
    padding-block: 10px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

.lower-para {
    font-weight: 500;
}


@media only screen and (max-width:1280px) {
    .top-part {
        left: 20%;
    }
}

@media only screen and (max-width:1045px) {
    .top-part {
        left: 20%;
    }

    .bottom-part {
        width: 90%;
        left: 5%;
    }
}

@media only screen and (max-width:918px) {
    .top-part {
        top: 8%;
    }

    .bottom-part {
        top: 25%;
    }
}

@media only screen and (max-width:880px) {
    .top-part {
        left: 15%;
    }
}

@media only screen and (max-width:865px) {
    .bottom-upper {
        column-gap: 2.5rem;
    }


}

@media only screen and (max-width:819px) {
    .bottom-part {
        width: 95%;
        left: 3%;
    }


}

@media only screen and (max-width:776px) {

    .footer-video {
        display: none;
    }

    .footer-video2 {
        display: block;
    }

    .bottom-part {
        top: 35%;
    }

    /* .bottom-upper {
      
    } */
    .top-part {

       top: 20%;
       left:12%;
    }
}
@media only screen and (max-width:750px){
    .top-part {

        left:10%;
     }
}
@media only screen and (max-width:690px) {
    .top-part {

        left: 8%;
        top:15%;
    }
    .bottom-part {
        top: 28%;
    }
    
}
@media only screen and (max-width:660px) {
    .top-part {

        left: 5%;
    }
    
}

@media only screen and (max-width:634px) {
   .top-part{
    flex-direction:column;
    left:20%;
    top:5%;
   }
   .bottom-part {
    top: 25%;
}
.footer-video2 {
    display: none;
}
.footer-video3{
    display:block;
}
.bottom-upper{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
}
}

@media only screen and (max-width:600px){
    .top-part{
        left:20%;
    }
}
@media only screen and (max-width:580px){
    .top-part{
        left:15%;
    }
}
@media only screen and (max-width:510px){
    .top-part{
        left:10%;
    }
}

@media only screen and (max-width:446px){
    .top-part{
        left:7%;
    }
}
@media only screen and (max-width:425px){
    .top-part{
        left:5%;
    }
    .footer-video3{
        display:none;
    }
   .footer-video4{
    display:block;
   }    

  
}
@media only screen and (max-width:422px){
    .top-part{
        left:3%;
    }
}
@media only screen and (max-width:395px){
    .top-part{
        padding-inline: 20px;
    }
}
@media only screen and (max-width:332px){
    .top-part{
        top:5%;
    }
    .bottom-part{
        top:20%;
    }
}

