.Home-Container{
    width:100vw;
  
    border:2px solid red;
 
}
.video-container{
    position: absolute;
    top: 11%;
    bottom: 0;
    width: 100vw;
    height: 70%; 
    overflow: hidden;
}
.video{
    position: absolute;
    top: 50%;
    width:100vw;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:1;
}