@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

:root{
    --black : black;
    --white : white;
    --textBlue :  #0386BC;
    --textGrey : grey;
    --inputBg : rgb(238, 237, 237);
    --facebook : #0a58f3;
    --instagram : #E4405F;
    --twitter : #00acee;
    --priceColor : green;
}
html{
    font-size: 62.5%;
    background-color: var(--white);
}

html, body{
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'poppins', 'sans-serif';
}
.btn{
    background: rgb(13, 229, 238);
    background: linear-gradient(90deg, rgba(13, 229, 238, 0.9724089464887518) 0%, rgba(0, 133, 255, 1) 97%);
    text-decoration: none;
    color: var(--white);
    padding: 1.2rem 2.5rem;
    border-radius: 10rem;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .02rem;
    transition: all 1s;
}
.btn:hover{
    background: blue;
}
.Card-container{
    display: grid;
    grid-template-columns:repeat(3,350px);
    column-gap: 2.5rem;
    row-gap:4rem;
    padding-block:30px;
    justify-content: center;

}


@media only screen and (max-width : 1200px){
    html{
        font-size: 58.5%;
    }   
}
@media only screen and (max-width:1170px){
    .Card-container{
        grid-template-columns:repeat(3,auto);
    }
   
}
@media only screen and (max-width:930px){
    .Card-container{
        column-gap: 1.6rem;
    }
}
@media only screen and (max-width:850px){
    .Card-container{
        grid-template-columns:repeat(2,350px);
        column-gap: 2.5rem;
    }
   
}
@media only screen and (max-width:764px){
    .Card-container{
        grid-template-columns:repeat(2,auto);
        padding-inline:10px;
        column-gap: 1.6rem;
    }
   
}
@media only screen and (max-width:640px){
    .Card-container{
        grid-template-columns:repeat(1,350px);
    }
}
@media only screen and (max-width:430px){
    .Card-container{
        grid-template-columns:repeat(1,320px);
        padding-inline:20px;
    }
}
@media only screen and (max-width:350px){
    .Card-container{
        grid-template-columns:repeat(1,auto);

    }
}
